@model IEnumerable<Quan_Ly_Diem_Thi.Models.DiemThi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    Search : <input type="text" id="IdSearch" name="IdSearch"/>
    <input type="submit" />
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiemThi1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocVien.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMonHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiemThi1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocVien.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMonHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idHocvien = item.IdHocVien , idMonhoc = item.IdMonHoc, lanthi = item.LanThi }) |
            @Html.ActionLink("Details", "Details", new { idHocvien = item.IdHocVien, idMonhoc = item.IdMonHoc, lanthi = item.LanThi }) |
            @Html.ActionLink("Delete", "Delete", new { idHocvien = item.IdHocVien, idMonhoc = item.IdMonHoc, lanthi = item.LanThi })
        </td>
    </tr>
}

</table>
