@model Car_Mg_MVC.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModelYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarVIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarVIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker.MakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker.MakerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
